* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #3c3a39;
  padding: 25px;
  color: #fff;
}

/* togglering section */

.nav-items {
  display: none !important;
  margin-right: -240px;
  height: auto;
  width: 20%;
  margin-bottom: -25px;
}
.nav-items .link {
  text-decoration: none;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.link:hover {
  color: #ff6b00;
}

.icon {
  font-size: 15px;
  width: 35%;
  padding-left: 10px;
}


.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 { opacity: 0; }

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navbar-innercontainer {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-weight: 500;
  font-size: large;
  font-family: "Roboto", sans-serif;
}

.baricon {
  display: inline-block;
  cursor: pointer;
}

.herosection {
  background-color: #1c1a19;
  padding: 25px;
  height: 520px;
  background-image: url("./Assets/images/backgroundimage.png");
  background-repeat: no-repeat;
  background-position: right bottom -30px;
}

.textcontainer {
  margin-top: 25px;
}

.h5 {
  font-family: "Crete Round", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 20.438rem;
  color: #ff6b00;
}

.h6 {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0;
  text-align: left;
  width: 20.483rem;
  color: #fff5e1;
}

.hero-paragraph {
  color: #ffff;
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.icon-container {
  display: flex;
  align-items: baseline;
  width: 141px;
  padding: 0;
  margin-top: 12px;
  gap: 21px;
  margin-left: 5px;
}

li {
  text-decoration: none;
  list-style: none;
}

.icon-image {
  width: 18px;
  height: auto;
  cursor: pointer;
}

/* MIDDLESECTION */

.works {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  margin: 4rem auto;
}

.middlesection-container {
  margin-top: 8%;
}

.middlesection_header_title {
  text-align: center;
  font-family: "Crete Round", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0;
  font-style: normal;
  margin-bottom: 3rem;
}

hr {
  color: #212121;
  margin-bottom: 5%;
}

.middlesection-image {
  margin-top: 7vh;
  width: 100%;
  margin-bottom: 2rem;
}

.multiples-stories_container {
  padding: 16px;
  width: 100%;
  margin-top: 8%;
}

.multiples-stories_header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 1rem;
}

.multiples-stories_paragraph {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #091e42;
  margin-bottom: 12px;
}

.button-flex {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.default-btn {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  border: 1px solid #8993a4;
  background-color: #fff;
  padding: 10px 12px;
}

.miniprimarybtn {
  padding: 12px;
  border-radius: 0;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  color: #ffff;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.smallprimarybtn {
  padding: 12px;
  border-radius: 0;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  color: #ffff;
  line-height: 24px;
  width: 195px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.primarybtn {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #ff6b00;
  background-color: #ff6b00;
  color: #ffff;
  line-height: 24px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  transition: 0.5s;
}

.primarybtn:hover,
.miniprimarybtn:hover,
.smallprimarybtn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.multiple-btn-container {
  margin: 12px 0 1rem;
  width: 40%;
}

/* CARD SECTION */

.professional_art_printing-section {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
}

.professional_art_printing-section-items {
  background-image: url("/Assets/images/bgimage-mulitpurples.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffff;
  display: flex;
  flex-direction: column;
}

.art_print_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.74rem;
  padding: 1rem;
}

.art_print_header {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  width: 295px;
  margin-bottom: 1rem;
  padding-top: 72px;
}

.art_print_paragraph {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  height: 99px;
}

.art_print_btn_container {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0 0.5rem;
  flex-wrap: wrap;
}

.transparent-btn {
  padding: 10px 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  background-color: #ffffff3d;
  border: none;
  color: #ffff;
}

/* DARK BACKGROUND */

.dark_section {
  background-color: #1c1a19;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.aboutme_section {
  width: 100%;
  background-image: url("/Assets/images/aboutme_backgroundimage.png");
  background-repeat: no-repeat;
  background-position: right bottom 22.69px;
}

.aboutme_container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  width: 100%;
}

.aboutme_header_text {
  height: 78px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  flex: none;
  order: 0;
  flex-grow: 0;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 24px;
}

.aboutme_paragraph {
  height: 148px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  color: #f4f5f7;
}

.aboutme_button_container {
  margin-top: 24px;
  margin-bottom: 201.67px;
}

/* LANGUAGE SECTION */

.languages_section {
  margin-top: 136.3px;
  margin-bottom: 87.54px;
}

.skills_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 44.73px;
}

.rectangle_icon {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-right: 25px;
}

.square_icon {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-right: 12px;
}

.ball_icon {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-right: 12px;
  border-radius: 150px;
}

.language_label {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skill_list_ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill_list {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  margin-bottom: 32px;
}

/* FORM SECTION */

.form_section {
  margin-top: 69px;
  padding: 0 25px 0 23px;
}

.form_section_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_section_text {
  width: 327px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.form_container {
  padding-top: 58px;
  background-color: white;
  width: 100%;
}

.comment_form {
  width: 100%;
  margin-bottom: 24px;
}

.textinput {
  width: 100%;
  padding: 15px 16px;
  border: none;
  border-bottom: 0.5px solid #dbd8d7;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.textinput:focus {
  outline: none;
}

.textinput_textarea {
  width: 100%;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  background: #fbf8f7;
  color: #3c3a39;
  border: none;
}

.textinput_textarea:focus {
  outline: none;
}

.form_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 78px;
}

.form_icon_container {
  color: #dfe1e6;
  border-top: 1px solid;
  width: 100%;
  padding: 25px 0 65px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: none;
}

.footer_icon-container {
  display: flex;
  flex-direction: row;
  gap: 22px;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.icon_link {
  padding: 0;
}

@media screen and (min-width: 768px) {
  nav {
    padding: 26px 142px 26px 154px;
  }

  .nav-logo {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    -webkit-animation: right 1s ease-out;
    animation: Right 1s ease-out;
  }

  .nav-items {
    display: flex !important;
    gap: 32px;
    -webkit-animation: left 1s ease-out;
    animation: Left 1s ease-out;
  }

  .nav-link {
    width: 63px;
    height: 20px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .icon {
    display: flex;
  }

  .baricon {
    display: none;
  }

  .herosection {
    background-color: #1c1a19;
    padding: 192px 0 25.1% 36px;
    background-image: url("/Assets/images/desktopbackgroundimage.svg");
    background-size: 45%;
    background-position: right;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .herosection_content {
    display: flex;
    flex-direction: row-reverse;
    gap: 7%;
  }

  .textcontainer {
    margin-top: 0;
    text-align: left;
  }

  .h5 {
    width: 69.5%;
    height: 160px;
    font-family: "Crete Round", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
    margin-bottom: 24px;
    padding: 0;
  }

  .h6 {
    width: 69.5%;
    height: 24px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 24px;
  }

  .hero-paragraph {
    width: 50%;
    height: 123px;
    font-family: "Inter", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #f4f5f7;
  }

  .icon-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: fit-content;
    justify-content: center;
  }

  /* WORK SECTION */

  .works {
    padding: 135px 10% 130px 12%;
    margin: 0;
    width: 100%;
  }

  .middlesection-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .middlesection_header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0;
    gap: 24px;
  }

  .middlesection_header_title {
    height: 52px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 52px;
    padding: 0;
  }

  .midddlesection_image_container {
    display: grid;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    gap: 2%;
    width: 100%;
  }

  .middlesection-image {
    height: 400px;
    padding: 0;
    margin-top: 0;
    grid-column: span 4;
  }

  .middlesection_texts_container {
    height: 100%;
    grid-column: span 3;
  }

  .multiples-stories_header {
    font-weight: 400;
    font-size: 3vw;
    line-height: 52px;
  }

  .line_container {
    grid-column: span 2;
  }

  .multiples-stories_paragraph {
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 0;
  }

  /* CARD SECTION */
  .professional_art_printing-section {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    width: 100%;
  }

  .professional_art_printing-section-items {
    background-image: url("/Assets/images/cardbackground.png");
    transition: 1s;
    background-size: cover;
  }

  .art_print_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    visibility: hidden;
    background: linear-gradient(#26262600, #262626e5);
    transition: 2s;
  }

  /* ABOUT ME SECTION */

  .dark_section {
    background-color: #1c1a19;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .aboutme_section {
    width: 100%;
    background-image: url("/Assets//images/aboutmedesktopbg.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 45%;
  }

  .aboutme_container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding: 130px 12% 0 12%;
    width: 100%;
  }

  .aboutme_header_text {
    width: 566px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .aboutme_paragraph {
    width: 55%;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .aboutme_button_container {
    margin-top: 24px;
    margin-bottom: 146px;
  }

  /* LANGUAGE SECTION */
  .languages_section {
    margin: 0;
    display: flex;
    gap: 16%;
    align-items: baseline;
    padding: 146px 0 142px 0;
    width: 76%;
    flex-wrap: wrap;
  }

  .skills_container {
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
  }

  .flex-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 44.73px;
    justify-content: left;
  }

  .language_label {
    font-family: "InaiMathi", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .skill_list_ul {
    justify-content: left;
    display: block;
    align-items: center;
  }

  .aboutme_line {
    margin: 0;
  }

  .skill_list {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 43px;
  }

  /* FORM SECTION */

  .form_section {
    padding: 130px 12% 0 12%;
    margin: 0;
    width: 100%;
  }

  .form_section_container {
    flex-direction: row;
    gap: 5%;
    width: 100%;
    flex-wrap: wrap;
    align-items: normal;
  }

  .form_text_container {
    flex-grow: 1;
  }

  .form_section_text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.3vw;
    line-height: 52px;
    text-align: start;
    padding: 0;
    align-items: flex-start;
    justify-content: baseline;
  }

  .form_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background: transparent;
    width: fit-content;
    flex-grow: 3;
  }

  .comment_form {
    display: grid;
    grid-template-columns: auto auto;
  }

  .firstnameinput {
    grid-column: 1;
  }

  .emailinput {
    grid-column: span 3;
  }

  .textinput_textarea {
    grid-column: span 3;
  }

  .professional_art_printing-section-items:hover .art_print_container {
    visibility: visible;
    transition: 2s;
  }

  @-webkit-keyframes Right {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes Right {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes Left {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-20px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
